/****************************************************************
General
*****************************************************************/
.wrap{
  width: 95%;
  margin: auto;

}
.center{
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 1em;
}
.center-text{

  text-align: center;


}
/*********************************************************
Navigation
**********************************************************/
.top-bar{
  background-color: #f7cac9;
}
.top-bar ul{
  background-color: transparent;
  border-style: none;
  font-family: 'Josefin Sans', sans-serif;
}
.top-bar li{
  background-color:	#f7cac9;
  font-family: 'Josefin Sans', sans-serif;
}
.top-bar h4, .top-bar a{
  color: #91A8d0;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}


/*********************************************************
Header
**********************************************************/




/*********************************************************
Main
**********************************************************/
.Main {
  text-align: justify;
  background-color: #91A8d0;
  padding: 2em 0;
}

.Main h3{
  color: #f7cac9;
}
.Main h4{
  color: #f7cac9;
}

.phone img{
  height: 5em;
  width: 5em;
}



/*********************************************************
Footer
**********************************************************/

.footer{
  text-align: center;
  background-color: #f7cac9;
  padding: 2em 0;
  border-top-color: #f7cac9;
  color: #7283a1;
}

.footer img{
  height: 3em;
  width: 3em;
}

.footer a{
  color: #7283a1;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

.footer h3{
  color: #7283a1;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}
